*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
    overflow-x:clip;
}

body{

    font-family:var(--font-family);

    color:var(--text-color);

    background:var(--background-color);

    line-height:1.6;

    overflow-x:clip;

}

img{

    display:block;

    max-width:100%;

}

a{

    text-decoration:none;

    color:inherit;

}

ul{

    list-style:none;

}

button{

    cursor:pointer;

    font:inherit;

}
